API_KEY='{api_key}'

# you can get an api_key of ypur bot in @BotFather.
# 1. create a bot in @BotFather
# 2. copy the api token
# 3. create .env file in quote-bot folder
# 4. paste the token instead of {api_key} like the example above